{% extends 'base.html' %}
{% load static %}

{% block style %}
<title>Brandon's Sandbox - Blog</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">
{% endblock %}

{% block content %}
<div class="centerbox">
    <div class="postsbox">
        {% if searchquery %}
        <h1 style="margin-bottom: 5px;">Search Results</h1>
        <p style="font-style: italic; margin-top:0">Query: "{{searchquery}}"</p>
        {% endif %}
        {% for post in posts %}
        <div onclick="location.href = '{% url 'blog:post' post.id %}'" class="post">
            <h1>{{post.title}}</h1>
            <i>{{post.created}}</i>
            {% autoescape off %}
            ​{{post.content.html|truncatewords_html:75}}
            {% endautoescape %}
            <form action="{% url 'blog:index' %}" method="POST" style="display: flex; flex-direction: row; align-items: center;">
                {% csrf_token %}
                {% for tag in post.tags.all %}
                <input type="submit" name="filter-submit-{{tag.id}}" class="tag" style="margin-right: 10px" value="{{tag.name}}"></input>
                {% endfor %}
            </form>
        </div>
        <br>
        {% endfor %}
        {% if previous != 0 %}
        <div style="margin: 1rem 0 0 2rem;">
            <a class="button" href="{% url 'blog:index' previous %}">« Previous</a>
        </div>
        {% endif %}
    </div>
    {% include "sidebar.html" %}
</div>
{% endblock %}