{% extends 'base.html' %}
{% load static %}

{% block style %}
<title>Brandon's Sandbox - Blog: {{post.title}}</title>
<link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">
{% endblock %}

{% block content %}
<div class="centerbox">
    <div style="width:80%">
        <h1>{{post.title}}</h1>
        <div style="display: flex; flex-direction: row; align-items: center;">
            <i style="margin-right: 50px;">{{post.created}}</i>
            {% for tag in post.tags.all %}
            <div class="tag" style="margin-right: 10px;">{{tag.name}}</div>
            {% endfor %}
        </div>
        {% autoescape off %}
        ​{{post.content}}
        {% endautoescape %}
    </div>
    {% include "sidebar.html" %}
</div>
{% endblock %}