{% load static %}

<div class="sidebar">
    <div class="sidebar-moving">
        <img src="{% static 'img/beach.png' %}" style="width:80%;">
        <h2>Brandon's Blog</h2>
        <p>A place for me to blog my essays, random thoughts, and about the books I read.</p>
        <form action="{% url 'blog:index' %}" method="POST">
            {% csrf_token %}
            <input id="searchbar" type="text" placeholder="Search by keyword" name="searchbar">
            <input class="button" type="submit" style="margin:10px;padding:0px 10px" value="&#187;">
        </form>
        <div>
            <p><b>Filter by tag:</b></p>
            {% for tag in tags %}
            <div class="tag" style="margin: 5px">{{tag.name}}</div>
            {% endfor %}
            <div class="tag clear-selection">&#x2715; Clear selection</div>
        </div>
        <div class="sidebar-bottom">
            <div class="back-to-top" onclick="document.body.scrollTop = 0;"><img src="{% static 'img/backtotop.png' %}" style="width:25%"></div>
        </div>
    </div>
</div>