.centerbox {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
    justify-content: space-between;
}

.sidebar {
    width: 15%;
    transition: var(--transition-time);
    display: flex;
    flex-direction: column;
}

.sidebar-moving {
    width: 100%;
    position: sticky;
    top: 6rem;
    height: 80vh;
}

.sidebar-bottom {
    width: 100%;
    position: absolute;
    bottom: 5%;
}

.back-to-top {
    cursor: pointer;
    opacity: 0.6;
    transition: var(--transition-time);
    text-align: right;
}
.back-to-top:hover {
    opacity: 1;
}

.postsbox {
    width: 100%;
}

.post {
    width: 90%;
    border-left: 7px solid var(--sandstone-color);
    padding: 20px 30px;
    transition: var(--transition-time);
    cursor: pointer;
    box-shadow: 5px 5px 30px var(--shadow-black);
    max-height: 30rem;
}
.post:hover {
    background-color: var(--sand-color);
}

@media (max-width: 1300px) {
    .post {
        width: 100%;
    }
    .sidebar {
        opacity: 0;
    }
}

.tag {
    border-radius: 20px;
    border: var(--ocean-color) 2px solid;
    font-weight: bold;
    color: var(--ocean-color);
    width: fit-content;
    padding: 5px 10px;
    font-size: small;
}